<p style="color: green"><%= notice %></p>

<%= render @paper %>

<p>
  <strong>Authors:</strong>
  <ul class="authors">
    <%@paper.authors.each do |author| %>
      <li><%=author.name%></li>
    <% end %>
  </ul>
</p>

<div>
  <%= link_to "Edit this paper", edit_paper_path(@paper) %> |
  <%= link_to "Back to papers", papers_path %>

  <%= button_to "Destroy this paper", @paper, method: :delete %>
</div>